.services{
    height: 500px;
    background-color: rgb(214, 225, 214);
    text-align: center;
}



.col-img{
    background-color: rgba(31,68,86,255);
    height: 100px;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.col-img:hover{
    opacity: 0.7;
}


.icon-img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(106%) contrast(102%);
    margin-right: 40px;
    height: 45px;
    display: inline-f;
    justify-content: flex-start;
}

