.services{
    text-align: center;
    padding: 50px 0;

}



.col-img{
    background-color: rgba(31,68,86,255);
    padding: 45px 0;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.col-img:hover{
    opacity: 0.7;
}

.col-img img{
    position: absolute;
    left: 20px;
}

.col-img h6{
    position: absolute;
    right:  20px;
}


.icon-img{
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(106%) contrast(102%);
    margin-right: 40px;
    height: 45px;
    justify-content: flex-start;
}

@media  (min-width: 480px){
    .col-img h6{
        font-size: 12px ;
        text-align: right;
    }
}

@media  (min-width: 768px){
    .col-img h6{
        font-size: 15px ;
        padding-left: 100px;
        text-align: right;
    }
}

@media  (min-width: 992px){
    .col-img h6{
        font-size: 19px ;
    }
}
