.about-us {
  margin-top: 40px;
}
.about-us-text {
  margin-bottom: 50px;
}

.aboutUs-icon {
  height: 1.8em;
}

.card-item {
  position: relative;
  margin: 0;
  margin-bottom: -10px;
  border-radius: 15%;
}

.face-1 {
  background-color: #333;
  padding: 40px 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
 border-top-left-radius: 5%;
 border-top-right-radius: 5%;
}

.face-1:hover {
  background-color: #ff0057;
}

.card-item:hover .face-1{
  transform: translateY(-40px);
  transition: 0.5s;
}

.card-item:hover .face-2{
  transform: translateY(105px);
  transition: 0.5s;
}


.face-2 {
  background-color: white;
  position: relative;
  top: -145px;
  z-index: 1;
}

.face-2 p,
li {
  color: #333;
  font-size: 1.7;
}
