.about-us {
  margin-top: 40px;
}
.about-us-text {
  margin-bottom: 50px;
}

.about-us h3{
  padding-top: 10px;
}
.aboutUs-icon {
  height: 1.8em;
}

.card-item {
  position: relative;
  margin: 0;
  margin-bottom: -10px;
  border-radius: 15%;
}

.face-1 {
  background-color: #333;
  padding: 40px 0;
  position: relative;
  z-index: 2;
  cursor: pointer;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  transform: translateY(0);
  transition: 0.5s;
}

.face-1:hover {
  background-color: #ff0057;
}

 .face-1:hover {
  transform: translateY(-40px);
  transition: 0.5s;
 
}

.face-1:hover + .face-2{
  transform: translateY(105px);
  transition: 0.5s;
}

.face-2 {
  background-color: white;
  position: relative;
  top: -145px;
  z-index: 1;
  transform: translateY(0);
  transition: 0.5s;
}

.face-2 p,
li {
  color: #333;
  font-size: 1.7;
}

@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .face-1{
   padding: 50px;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
  }
  .face-2{
    top: -173px;
  }
 
  .face-1:hover + .face-2{
    transform: translateY(133px);
    transition: 0.5s;
  }

}
@media (min-width: 992px) {
  .face-1{
    padding: 50px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
   }
   .face-2{
     top: -173px;
   }
   .content-2 p{
    font-size: 1em;
   }

}
@media (min-width: 1200px) {
  .face-1{
    padding: 34px 0 30px 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
   }
   .face-2{
     top: -144px;
   }
   .face-1:hover + .face-2{
    transform: translateY(103px);
    transition: 0.5s;
  }
}

