.welcome {
  opacity: 1.3;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.slide-img {
  height: 500px;
}

.welcome-text {
  position: absolute;
  z-index: 2;
  /* left: 40px; */
  top: 150px;
  padding: 0 56px;
  text-align: left;
  margin-left: -50px;
}

.welcome p {
  margin-top: 60px;
}

.welcome-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.swiper-slide img .slide-img {
  height: 500px;
  margin-bottom: 60px;
}

.before {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    #202125 0,
    rgba(31, 68, 86, 0.6) 40%,
    rgba(32, 33, 37, 0) 60%,
    rgba(32, 33, 37, 0) 80%,
    #202125 100%
  );
}

.after {
  content: "";
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    90deg,
    #202125 0,
    rgba(31, 68, 86, 0.6) 40%,
    rgba(32, 33, 37, 0) 60%,
    rgba(32, 33, 37, 0) 80%,
    #202125 100%
  );
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
  z-index: 99;
}

.welcome-text p {
  text-shadow: 2px 2px black;
  padding: 20px 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 15px;
  z-index: 99;
}

@media (min-width: 390px) {
  .welcome-text {
    width: 270px;
    margin-left: -10;
    padding: 0;
  }
}

@media (min-width: 576px) {
  .welcome-text {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    width: auto;
  }
}
@media (min-width: 768px) {
  .welcome-text {
    margin-left: 0;
    margin-right: 150px;
  }
}
@media (min-width: 992px) {
  .welcome {
    justify-content: flex-start;
  }
  .welcome-text {
    margin-left: 70px;
  }
}
@media (min-width: 1200px) {
}
