.welcome{
    opacity: 1.30;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slide-img{
    height: 500px;
}

.welcome-text{
   position: absolute;
   z-index: 3;
   left: 55px;
   top: 150px;
}

.welcome-text h1, h3{
    color: white;
    text-align: left;
}

.welcome-text p{
    color: white;
    font-size: 20px;
    text-align: left;
    margin-top: 35px;
}

h1{
    color:white;
}



.welcome-img{
   object-fit: cover;
   width: 100%;
   height: 100%;
}

.swiper-slide img .slide-img{
    height: 500px;
    margin-bottom: 60px;
}


.before{
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,#202125 0,rgba(31,68,86,.6) 40%,rgba(32,33,37,0) 60%,rgba(32,33,37,0) 80%,#202125 100%);
}

.after{
    content: "";
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg,#202125 0,rgba(31,68,86,.6) 40%,rgba(32,33,37,0) 60%,rgba(32,33,37,0) 80%,#202125 100%);
}