.bg-img{
    background-image: url("../../assets/imagenes/electricist2.jpeg");
    opacity: 1.30;
    height: 900px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color:white;
}