.header{
    background-color: blue;
    position: fixed;
    width: 100%;
    z-index: 200;
}

nav{
    background-color: #12232E
}

.nav-items{
    margin: 0 auto;
}

.whatsapp{
    background-color: green;
}

.me-auto h4{
    font-size: 16px;
    text-align: center;
    margin-right: 10px;
}
