.whyUs{
    text-align: center;
}

.why-icon{
    color: rgba(31,68,86,255);
    margin-right: 15px;
}

@media  (min-width: 480px){

    .whyUs h2{
        font-size: 18px;
    }
    .whyUs p{
        font-size: 11px ;
        padding: 10px 60px;
    }
}

@media  (min-width: 768px){
    .whyUs p{
        font-size: 13px ;
        padding: 10px 15px;
    }
}

@media  (min-width: 992px){
    .whyUs h2{
        font-size: 20px;
    }
    .whyUs p{
        font-size: 17px ;
    }
}