.whyUs{
    text-align: center;
    padding: 90px 0;
}

.whyUs h2{
font-size: 35px;
color: rgba(31,68,86,255);;
background-color: white;
padding: 10px 0;
border-bottom-left-radius: 30px;
}

.whyUs p{
    color: white;
}

.why-icon{
    color: #0d6efd;
    margin-right: 15px;
    font-size: 31px;
}

@media  (min-width: 480px){

    .whyUs h2{
        font-size: 18px;
    }
    .whyUs p{
        font-size: 11px ;
        padding: 10px 60px;
    }
}

@media  (min-width: 768px){
    .whyUs p{
        font-size: 13px ;
        padding: 10px 15px;
    }
}

@media  (min-width: 992px){
    .whyUs h2{
        font-size: 20px;
    }
    .whyUs p{
        font-size: 17px ;
    }
}