.contactUs {
  margin-bottom: 80px;
  text-align: center;
  align-items: center;

}

.form-control{
  border: var(--bs-border-width) solid #051072;
}

input[type="text"] {
  font-size: 13px;
}

input[type="email"] {
  font-size: 13px;
}

label{
  color:  rgba(31, 68, 86, 255);
}

@media  (min-width: 576px){
  input[type="text"] {
    font-size: 15px;
  }
  
  input[type="email"] {
    font-size: 17px;
  }
}  
@media  (min-width: 992px){

} 
@media  (min-width: 1200px){

} 

/* @media (max-width: 480px) {
  p {
    font-size: 11px;
    padding: 10px 60px;
  }
  .form-blocks {
    padding-top: 35px;
  }

  input[type="text"] {
    font-size: 13px;
  }

  input[type="email"] {
    font-size: 13px;
  }
} */
