.clientes {
  text-align: center;
  padding: 50px 0;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .clientes-img {
height: 50px;
margin-bottom: 60px;
}

@media  (min-width: 480px){
  .swiper-slide .clientes-img {
    height: 25px;
  }
}

@media  (min-width: 768px){

  .swiper-slide .clientes-img {
    height: 32px;
  }
}

@media  (min-width: 992px){

  .swiper-slide .clientes-img {
    height: 50px;
  }
}