.clientes {
  height: 250px;
  background-color: white;
  text-align: center;
}


.swiper-slide {
  text-align: center;
  font-size: 18px;


  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .clientes-img {
height: 50px;
margin-bottom: 60px;
}
