.clientes {
  text-align: center;
  padding: 10px 0;
  background-color: white;
  margin-top: 80px;
}


.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide .clientes-img {
height: 50px;
margin-bottom: 60px;
}

@media  (min-width: 480px){
  .swiper-slide .clientes-img {
    height: 25px;
  }
}

@media  (min-width: 768px){

  .swiper-slide .clientes-img {
    height: 32px;
  }
}

@media  (min-width: 992px){

  .swiper-slide .clientes-img {
    height: 80px;
  }
}