.modal-header {
  background-color: rgba(31, 68, 86, 255);
  color: white;

}
h4.modal-title {
  color: black;
  text-align: start;
  margin-bottom: 20px;
}
.services-img {
  height: 200px;
  width: 325px;
}

.modal-list {
  text-align: left;
  padding-left: 10px;
  font-size: 0.9em;
  margin-bottom: 20px;
}

.btn-close {
  --variable: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FFFFFF'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  background: transparent var(--variable) center/1em auto no-repeat;
}

/* 
@media  (min-width: 480px){
    .services-img{
        height: 200px;
        width: 325px;
    }
    .modal-list{
     font-size: 14px;
    }
}

@media  (min-width: 768px){
    .services-img{
        height: 250px;
        width: 400px
    }
    .modal-list{
     font-size: 15px;
    }
}

@media  (min-width: 992px){
    .services-img{
        height: 400px;
        width: 750px
    }
} */
